@model WebApplication3.Models.UserRegistrationModel
@{
    ViewBag.Title = "SummaryPage";
}

<h1>Welcome @Model.FirstName</h1>
<h2>Your order info is:</h2>
<p>@Model.FirstName<br />
    @Model.LastName<br />
    @Model.Telephone<br />
    @Model.email</p>